.wwww-start {
    margin: 0 auto;
    padding: 10px;
    .start-button {
        .control {
            @include button(rgba(85, 173, 255,1));
            border-radius: 10px;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
            vertical-align: middle;
        }
    }
    .start-content {
        margin-top: 20px;
        height: 100px;
        p {
            vertical-align: middle;
            &.last {
                font-weight: 600;
            }
        }
    }
}